  .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../img/cargando.gif");
	background-position: center;
	background-repeat: no-repeat;
    background-size: 5%;
    opacity: 1;
  }

  #suggestions {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    height: auto;
    position: absolute;
    top: 45px;
    z-index: 9999;
    width: 206px;
  }
   
  #suggestions .suggest-element {
    background-color: #EEEEEE;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    float: left;
  }

  .class-dropdown-pmg{
    background-color: #fff;
  }

  #searchDropdownMenu2{
    top: 80%!important;
    width: 100%;
    animation-duration: 300ms;
  }